{% extends "Maps/base.html" %}

{%block content %}

<form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="inputlocation" class="form-label">Original Location:</label>
      <input type="text" class="form-control" name="inputlocation" aria-describedby="emailHelp">
      <label for="inputDestination" class="form-label">Destination:</label>
      <input type="text" class="form-control" name="inputDestination">
    </div>

    <div class="custom-control custom-radio">
      <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
      <label class="custom-control-label" for="customRadio1">Kilometer/Liters</label>
    </div>

    <div class="custom-control custom-radio">
      <input type="rsadio" id="customRadio2" name="customRadio" class="custom-control-input">
      <label class="custom-control-label" for="customRadio2">Miles/Gallon</label>
    </div>

    <p></p>
    
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="reset" class="btn btn-primary" onclick="resetEffort()">Reset</button>
  
  </form>

<div class="left">
  {% if InputOrig %}
  <h3>Information: </h3>
  <h5>From: {{InputOrig}} </h5>
  <h5>To: {{InputDest}}</h5>
  <h3>Driving Distance:</h3>
  <h5> The location {{InputDest}} is {{KM}} away</h5>
  <h3>Time Duration:</h3>
  <h5>The Trip Duration is {{Trip_Duration}}</h5>
  <h3>Fuel Consumption:</h3>
  <h5> Your fuel consumption will be {{Fuel}} </h5>
  {%else%}
  
</div>

  {% endif %}

  <div class="right">
  {% if directions %}
  <h4>Directions:</h4>
    {% for each in directions %}
  
      <p>{{each}}</p>
 
    {% endfor %}
   
</div>
  {% else %}

    <p></p>
  
  {% endif %}
  
  


    

        
    
{% endblock content%}
  